<form action="/clients/{{user.id}}" id="changeForm" data-divid="{{user.id}}" method="PUT" name="clientUpdate">
  <input type="text" name="name" value="{{user.name}}">
  <input type="text" name="adress" value="{{user.adress}}">
  <input type="text" name="comments" value="{{user.comments}}">

  <button type="submit">оооо ДА, я знаю, что ТЫ хочешь ИЗМЕНИТЬ!!!!!!</button>
</form>

{{!-- <script defer src="/js/edit.js"></script> --}}
