<h1>{{user.name}} ИЗМЕНЯЙ!!!!!</h1>
<form action="/clients/basket/change/{{order.id}}" id="changeFormBasket" data-divid="{{order.id}}" method="PUT"
  name="orderUpdate">
  <input type="number" name="orderNumber" value="{{order.orderNumber}}">
  <input type="text" name="type" value="{{order.type}}">
  <input type="number" name="price" value="{{order.price}}">
  <input type="number" name="deliveryCost" value="{{order.deliveryCost}}">
  <input type="number" name="setupCost" value="{{order.setupCost}}">
  <input type="text" name="comments" value="{{order.comments}}">
  <input type="number" name="deliveryDate" value="{{order.deliveryDate}}">
  <input type="number" name="setupDate" value="{{order.setupDate}}">
  <input type="text" name="courierTeam" value="{{order.courierTeam}}">
  <input type="text" name="setupTeam" value="{{order.setupTeam}}">
  <input type="text" name="status" value="{{order.status}}">


  <button type="submit">оооо ДА, я знаю, что ТЫ хочешь ИЗМЕНИТЬ!!!!!!</button>
</form>
