<form action="/clients//search_order" method="PUT" id="orderSearch" name="orderSearch">
  <p>Поиск заказов</p>
  <input type="text" name="orderSearch">
  <select id="orderSelect" name="orderSelect">
    <option value="orderNumber">номер заказа</option>
    <option value="type">тип мебели</option>
    <option value="price">стоимость мебели</option>
    <option value="deliveryCost">стоимость доставки</option>
    <option value="setupCost">стоимость сборки</option>
    <option value="comments">комментарии к заказу</option>
    <option value="deliveryDate">дата доставки</option>
    <option value="setupDate">дата сборки</option>
    <option value="courierTeam">бригада доставки</option>
    <option value="setupTeam">бригада сборки</option>
    <option value="status">статусы</option>
  </select>
  <button class="orderSearch" type="submit">Найти</button>
</form>

<body>
  <h2>Заказы клиента</h2>
    {{#if orderClient}}
  {{#each orderClient}}
  <div class="orderDiv">
    <p>{{this.orderNumber}}</p>
    <p>{{this.type}}</p>
    <p>{{this.price}}</p>
    <p>{{this.deliveryCost}}</p>
    <p>{{this.setupCost}}</p>
    <p>{{this.comments}}</p>
    <p>{{this.deliveryDate}}</p>
    <p>{{this.setupDate}}</p>
    <p>{{this.courierTeam}}</p>
    <p>{{this.setupTeam}}</p>
    <p>{{this.status}}</p>
    <button data-divid="{{this.id}}" onclick="window.location.href = '/clients/basket/change/{{this.id}}';" class="btnEditClient"
      type="click"> Редактировать заказ</button>
    <button data-divid="{{this.id}}" class="btnDeleteOrder" type="click">Удалить заказ </button>
  </div >
  {{/each}}
    {{else}}
      <h1>Список заказов пуст</h1>
  {{/if}}
</body>
