<div>
  <a href="/clients/new"> Создай клиента</a>
</div>



<main>


  {{#if allClient}}
  {{#each allClient}}
  <div class="clientDiv" data-divid="{{this.id}}">
    <a href="/clients/{{this.id}}">{{this.name}}</a>
    <p>{{this.adress}}</p>
    <p>{{this.comments}}</p>
    <button data-divid="{{this.id}}" onclick="window.location.href = '/clients/change/{{this.id}}';" class="btnEditClient"
      type="click"> Редактировать</button>
    <button data-divid="{{this.id}}" class="btnDeleteClient" type="click">Удалить клиента </button>
  </div>
  {{/each}}
  {{else }}
  <h1>Список клиентов пуст</h1>
  {{/if}}
</main>
